/* ------------------------------------------------------------------------ */
/* << "%-70s" | format(fs_macro) >> */
/* ------------------------------------------------------------------------ */
/*DE|DID $<< did_hex_clean >>h - << did_name >> is supported |*/
#define << fs_macro >>		<< fs_macro >>_ON

