/* ------------------------------------------------------------------------ */
/* << "%-70s" | format(fs_macro) >> */
/* ------------------------------------------------------------------------ */
/*DE|Feature Switch for DID $<< did_hex_clean >>h - << did_name >> |*/
#ifndef << fs_macro >>
#define << fs_macro >>		<< fs_macro >>_OFF
#endif

