/* ------------------------------------------------------------------------ */
/* << "%-70s" | format(fs_macro) >> */
/* ------------------------------------------------------------------------ */
/*DE|Feature Switch ON for DID $<< did_hex_clean >>h - << did_name >> */
#define << on_def >><< on_padding_str >>1
/*DE|Feature Switch OFF for DID $<< did_hex_clean >>h - << did_name >> */
#define << off_def >><< off_padding_str >>2

